# Dev Variables
DEBUG=Boolean
SECRET_KEY=<your-secret-key-here>
ALLOWED_HOST=<host_1>,<host_2>

# DB
DB_URL=

# Redis (WS)
REDIS_URL=

# JWT Settings
JWT_SECRET=<jwt_secret_key>
JWT_LIFETIME_SECONDS=7200

# Game Settings
ANON_USERNAME=anon

GAME_CODE_LENGTH=6
GAME_MAX_TRIES=6

WORD_MIN_LENGTH=5
WORD_MAX_LENGTH=5
WORD_CHAR_EXACT_IDENTIFIER=/
WORD_CHAR_PARTIAL_IDENTIFIER=+